:root{
  --background: gray;
  --border: 3px;
}
.App{
  background-color: var(--background);
  font-size: 12px;
  
}
.App-header {
  background-color: #282c34;
  color: white;
  padding: 1em;
  text-align: center;
}

.balanceHeader{
  background-color: white;
  padding: 2em;
}
.moneyBalance, .tokenBalance{
  min-height: 3em;
  display: flex;
  border-bottom: 1px solid var(--background);
}
.moneyBalance > div, .tokenBalance {
  display: flex;
  justify-content: center;
  align-items: center;
}
.moneyQuota{
  width: 70%;
  border-right: var(--border) solid var(--background);
}
.options{
  display: flex;
  flex-wrap: wrap;;
}
.options .item{
  background-color: navy;
  width: 6em;
  height: 6em;
  margin: 1em;
  cursor:pointer;
}